<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :surgery_type %><br>
    <%= f.text_field :surgery_type %>
  </div>
  <div class="field">
    <%= f.label :time_period %><br>
    <%= f.text_field :time_period %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
